[Global]
MoveFirst=false
ArrowPosition=0

[Entry 0]
Name=aptosid-browser
Comment=Web Browser using x-www-browser
Icon=aptosid-browser
Exec=x-www-browser
Path=/home/aptosid
Terminal=false
StartupNotify=true

